<h4>Utilizar jquery dentro de Angular</h4>
<button id="botonjq">Mostrar textos</button>
<p id="textojq" class="alert alert-warning">
  We are using a jumbotron text as testing test here in this section
</p>

<div id="caja" style="border: 1px solid black; width:150px; height:50px;">
  We are using a jumbotron text as testing test here in this section and a new kquery library dotdotdot to put three points
</div>

<hr/>
Padre
<h1>{{ titulo }}</h1>
<ul>
  <li>Articulo 1</li>
  <li>Articulo 2</li>
</ul>

<hr/>

<p>
  Nombre del parque:
  <input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()"/>
 
<p>
  Resultado: {{ nombreDelParque }}
</p>

<div *ngIf="miParque">
  <h4>Datos del parque desde el hjo</h4>
  <ol>
    <li>{{ miParque.nombre }}</li>
    <li>{{ miParque.metros }}</li>
    <li>{{ miParque.vegetacion }}</li>
    <li>{{ miParque.abierto }}</li>
  </ol>
</div>



<hr>

<p *ngIf="nombreDelParque">
  Hijo:
  <parques
    [nombre]="nombreDelParque"
    [metros_cuadrados]="567"
    (pasameLosDatos)="verDatosParque($event)"
  ></parques>
</p>
