



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/home']" class="navbar-brand">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->

        <a class="nav-link"[routerLink]="['/home']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faHome"></fa-icon> 
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/animales']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faHippo"></fa-icon>
          Animales
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"[routerLink]="['/cuidadores']" [routerLinkActive]="['active']" id="navbarDropdown" role="button" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa-icon [icon]="faWalking"></fa-icon>
          Cuidadores
        </a>
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a> -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/tienda']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faStore"></fa-icon>
          Tienda
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/contacto']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          Contacto
        </a>
      </li>
    </ul>
    
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

  
<hr>


<router-outlet></router-outlet>





<!-- <h1>TinyMCE 5 Angular Demo</h1>
 <editor
   [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"
 ></editor> -->

  